 .results {
   background: #F5F6F7;
 }

 /*
.results.results_is-opened {
  display: flex;
} */

 .results__searching {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 0;
   margin: 0 auto;
   display: none;
 }

 .results__searching.results_is-opened {
   display: flex;
 }

 .results__nothing {
   margin: 0 auto;
   flex-direction: column;
   align-items: center;
   padding: 80px 0 80px;
   display: none;
 }

 .results__nothing.results_is-opened {
   display: flex;
 }

 .results__server-error {
   margin: 0 auto;
   flex-direction: column;
   align-items: center;
   padding: 80px 0 80px;
   display: none;
 }

 .results__server-error.results_is-opened {
   display: flex;
 }

 .results__regret-text {
   font-family: RobotoSlab;
   font-style: normal;
   font-weight: normal;
   font-size: 26px;
   line-height: 30px;
   text-align: center;
   color: #1A1B22;
 }

 .results__got {
   width: 100%;
   background: #F5F6F7;
   display: flex;
   display: none;
 }

 .results__got.results_is-opened {
   display: flex;
   flex-direction: column;
 }

 .results__title {
   font-family: RobotoSlab;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 46px;
   color: #1A1B22;
   margin: 0;
   padding: 80px 0 0 104px;
 }

 .results__button {
   width: 288px;
   height: 64px;
   margin: 0 auto 80px auto;
   background: #fff;
   border-radius: 80px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   color: #1A1B22;
   border-style: none;
   cursor: pointer;
   display: none;
 }

 .results__button.results__button_is-visible {
   display: block;
 }

 .results.results_saved-articles {
   padding-bottom: 0;
 }

 @media screen and (min-width:768px) and (max-width:1023px) {
   /* .results {
    padding: 40px;
  } */
   .results__title {
     font-size: 30px;
     line-height: 34px;
     margin: 0;
     padding: 40px 0 0 40px;
   }
   .results__button {
     width: 240px;
     height: 56px;
     margin-bottom: 40px;
   }
 }

 @media screen and (min-width:320px) and (max-width:767px) {
   .results__got {
     padding: 24px 0 0;
   }
   .results__title {
     padding: 0;
     margin: 32px 0 24px;
   }
   .results__button {
     width: 288px;
     height: 56px;
     margin-bottom: 32px;
   }
 }