.article-card__like-icon {
  background: url(../../../images/bookmark-grey.png) center no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform .3s linear;
  margin-bottom: 3px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.article-card__like-icon_liked {
  background-image: url(../../../images/bookmark-saved.png);
}

.article-card__like-icon:hover {
  background-image: url(../../../images/bookmark-hover.png);
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .article-card__like-icon {
    top: 8px;
    right: 8px;
  }
}