.place-card__delete-icon {
  background: url(../../../images/basket-grey.png) center no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform .3s linear;
  margin-bottom: 3px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.place-card__delete-icon:hover {
  background-image: url(../../../images/basket-hover.png);
}

/* .place-card__delete-icon.place-card__delete-icon_visible {
  display: block;
} */