.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  background-image: url('../../images/search.jpg');
  background-size: cover;
  border-bottom: 0.3px solid #fff;
}

.header__logo {
  margin: 0;
  font-family: RobotoSlab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 26px;
  margin-left: 104px;
  color: #FFFFFF;
}

.header__menu {
  margin-top: 30px;
  margin-bottom: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 32px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__link {}

/* по умолчанию кнопка Сохр статьи скрыта */

.header__menu.header__menu-articles {
  display: none;
}

/* показать кнопку Сохраненные статьи */

.header__menu.header__menu-articles.header__menu-articles_is-opened {
  display: inline-block;
}

.header__button {
  margin-right: 104px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* width: 176px; */
  height: 48px;
  padding: 12px;
}

/* скрыть копку Авторизоваться */

.header__button_authorize.header__button_hidden {
  display: none;
}

/* по умолчанию кнопка с именем скрыта */

.header__button.header__button_name {
  display: none;
}

/* показать кнопку с именем */

.header__button.header__button_name.header__button_name_is-opened {
  display: inline-block;
}

.header__menu-320 {
  background: url(../../images/menu-white.png) center no-repeat;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: none;
}

.header__close-320 {
  background: url(../../images/close320.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: none;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header {
    height: 66px;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__link {
    font-size: 16px;
    margin-right: 16px;
  }
  .header__button {
    margin-right: 40px;
    font-size: 16px;
    height: 40px;
    padding: 8px 12px;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .header {
    background-image: url('../../images/search-320.png');
    height: 56px;
    z-index: 1;
  }
  .header__logo {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    z-index: 10;
  }
  .header__menu-320 {
    display: flex;
    z-index: 10;
  }
  .header__menu {
    /* z-index: 1; */
    background: #1A1B22;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    top: -56px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 286px;
    padding: 88px 16px 16px;
    display: none;
  }
  .header__link {
    margin: 0 0 30px;
  }
  .header__button {
    width: calc(100% - 32px);
  }
  .header__menu.header__menu_is-opened {
    display: flex;
  }
}